<thead>
  <tr>
    <th>施設名</th>
    <th>住所</th>
    <th>紹介文</th>
    <th>料金</th>
    <th>作成日<th>
  </tr>
</thead>

<tbody>
    <tr>
      <td><%= @room.name %></td>
      <td><%= @room.address %></td>
      <td><%= @room.introduction %></td>
      <td><%= number_to_currency(@room.price, :unit => "￥",:precision => 0) %>~</td>
      <td><%= @room.created_at.strftime("%Y/%m/%d")  %></td>
    </tr>
</tbody>

<form>
<%= form_with model:@reservation, url: confirm_reservation_path, class: "row g-3" do |f|%>
    <div class = "col-12">
      <%= f.label :checkin,"チェックイン" ,class: "form-label"%>
      <%= f.date_field :checkin, class:"form-control"%>
    </div>
    <div class = "col-12">
      <%= f.label :checkout,"チェックアウト",class: "form-label"%>
      <%= f.date_field :checkout , class:"form-control"%>
    </div>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :room_id, value: @room.id%>
    <div class = "w-100 mt-2 pr-3 d-flex justify-content-end">
      <%= f.submit "送信", class:"btn btn-primary ml-1"%>
    </div>
  </form>

</div>
<% end %>